h1 #{title}
h3.red #{subtitle}
if title == 'Checked-out Books' 
      h4.late-message Return By dates in red are overdue.
p
      a.button(href='/books/new') Create New Book
p
      span Filters: 
      a.inline-option(href='/books/all?offset=0&order=#{pagination.order}&search=off') All
      |  
      a.inline-option(href='/books/overdue?offset=0&order=#{pagination.order}&search=off') Overdue
      |  
      a.inline-option(href='/books/out?offset=0&order=#{pagination.order}&search=off') Checked Out