p
      span.inline-option Order by:   
      a.inline-option(class=pagination.order ==  "title" ? "selected" : "" href='?offset=0&order=title&search=#{pagination.search}') Title
      |  
      a.inline-option(class=pagination.order ==  "name" ? "selected" : "" href='?offset=0&order=name&search=#{pagination.search}') Patron
      |  
      a.inline-option(class=pagination.order ==  "return_by" ? "selected" : "" href='?offset=0&order=return_by&search=#{pagination.search}') Return By