p
      span.inline-option Order by:   
      a.inline-option(class=pagination.order ==  "title" ? "selected" : "" href='?offset=0&order=title&search=#{pagination.search}') Title
      |  
      a.inline-option(class=pagination.order ==  "author" ? "selected" : "" href='?offset=0&order=author&search=#{pagination.search}') Author
      |  
      a.inline-option(class=pagination.order ==  "genre" ? "selected" : "" href='?offset=0&order=genre&search=#{pagination.search}') Genre