p
      span.inline-option Order by:   
      a.inline-option(class=pagination.order ==  "name" ? "selected" : "" href='?offset=0&order=name&search=#{pagination.search}') Name
      |  
      a.inline-option(class=pagination.order ==  "address" ? "selected" : "" href='?offset=0&order=address&search=#{pagination.search}') Address
      |  
      a.inline-option(class=pagination.order ==  "email" ? "selected" : "" href='?offset=0&order=email&search=#{pagination.search}') Email
      |  
      a.inline-option(class=pagination.order ==  "library_id" ? "selected" : "" href='?offset=0&order=library_id&search=#{pagination.search}') Library ID