doctype html
html
  include ./partials/_head

  body
    include ./partials/_filters-loans
    include ./partials/_search-loans
    include ./partials/_orderby-loans
    table
      thead
        tr
          th Title
          th Patron
          th Loaned on
          th Return by
          th Returned on
          th Action
      tbody
      each loan in loans
        tr
          td
            a(href='/#{loan.book_id}') #{loan.book.title}
          td 
            a(href='/patron/#{loan.patron.id}') #{loan.patron.first_name} #{loan.patron.last_name} 
          td #{loan.loaned_on}
          td(class=loan.return_by < pastDue ? "late" : "ok") #{loan.return_by}
          td #{loan.returned_on}
          td
            if loan.returned_on == null
              a.button(href='/return/#{loan.book_id}') Return Book
  p 
      .pages-container
        if pagination.numPages > 1
          strong Select a Page 
          - for (var x = 1; x <= pagination.numPages; x++) {
            - var offset = (x-1) * pagination.limit
            a.pages(class=x == pagination.offset/10 + 1  ? "selected-box" : "" href='?offset=#{offset}&order=#{pagination.order}') #{x}
          - }
script.
    document.getElementById('returned-on').disabled = true;